h1 {
  text-align: center;
  font-family: 'Bungee', cursive;
  color: rgb(96, 3, 53)
}

.btn {width: 60%;
margin-left: 20%;
margin-right: 30%

}
i{
  width: 50%;
  margin-left: auto;
  margin-right: auto
}
.form {
  text-align: center;
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto

}
.result {
  text-align: center;
  font-family: 'Sanchez', serif;
}

body {

  background-color: rgba(250, 241, 241, 0.83);
}
